<div class="header__logo">
    <h3 class="logo">Dressed To The Nines</h3>
    <a href="">
    <svg width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-file-person-fill" fill="#fff" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2 3a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3zm6 7a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5 2.755C12.146 11.825 10.623 11 8 11s-4.146.826-5 1.755V13a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
      </svg>
    </a>
    <a href="">
        <svg width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-cart3" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
          </svg>
    </a>

</div>


<header class="header">
    <div class="header__left">
        <nav class="nav">
            <ul class="nav__list">
                <li>
                    <a href="#" class="nav__link">Главная</a>
                </li>
                <li>
                    <a href="#" class="nav__link ">Одежда </a>
                        <ul class="submenu">
                            <h2>ОДЕЖДА</h2>
                        <li><a class="drop__link">Palm Angels</a></li>
                        <li><a class="drop__link">Palm Angels</a></li>
                        <li><a class="drop__link">Palm Angels</a></li>
                        <li><a class="drop__link">Palm Angels</a></li>
                        <li><a class="drop__link">Palm Angels</a></li>
                        <li><a class="drop__link">Palm Angels</a></li>
                        <li><a class="drop__link">Palm Angels</a></li>
                        <li><a class="drop__link">Palm Angels</a></li>
                        <li><a class="drop__link">Palm Angels</a></li>
                        <li><a class="drop__link">Palm Angels</a></li>
                        <img class="subnav__picture" src="https://vogue.ua/cache/inline_990x/uploads/article-inline/645/ab5/f95/5b4ef95ab5645.jpeg" alt="">
                        <a class="picture__link" href="">Коллекция<br> DAPPER DAN GUCCI</a>
                        </ul>
               
                </li>
                <li>
                    <a href="#" class="nav__link has-subnav">Обувь</a>
                    <ul class="submenu">
                        <h2>ОДЕЖДА</h2>
                    <li><a class="drop__link">Palm Angels</a></li>
                    <li><a class="drop__link">Palm Angels</a></li>
                    <li><a class="drop__link">Palm Angels</a></li>
                    <li><a class="drop__link">Palm Angels</a></li>
                    <li><a class="drop__link">Palm Angels</a></li>
                    <li><a class="drop__link">Palm Angels</a></li>
                    <li><a class="drop__link">Palm Angels</a></li>
                    <li><a class="drop__link">Palm Angels</a></li>
                    <li><a class="drop__link">Palm Angels</a></li>
                    <li><a class="drop__link">Palm Angels</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="nav__link has-subnav">Дизайнеры</a>
                    <ul class="submenu">
                        <h2>ОДЕЖДА</h2>
                    <li><a class="drop__link">Palm Angels</a></li>
                    <li><a class="drop__link">Palm Angels</a></li>
                    <li><a class="drop__link">Palm Angels</a></li>
                    <li><a class="drop__link">Palm Angels</a></li>
                    <li><a class="drop__link">Palm Angels</a></li>
                    <li><a class="drop__link">Palm Angels</a></li>
                    <li><a class="drop__link">Palm Angels</a></li>
                    <li><a class="drop__link">Palm Angels</a></li>
                    <li><a class="drop__link">Palm Angels</a></li>
                    <li><a class="drop__link">Palm Angels</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__right">
        <nav class="nav">
        <ul class="nav__list">
            <li>
                <a href="#" class="nav__link">Профиль</a>
            </li>
        </ul>
    </nav>
    <form class="search" action="" method="post">
    <input class="search__input" type="text" placeholder="Поиск">
</form>
    </div>
</header>
