<aside class="sidebar">
    <div class="sidebar__header">
        <img src="https://avatars.mds.yandex.net/get-zen_doc/173924/pub_5af02add3dceb76be76f259b_5af02affa815f19a06c06959/scale_1200" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class ="profile__avatar" src="assets/images/canvas.png" alt="">
            <div class="profile__name">
                DTTN
            </div>
            <div class="profile__surname">
                Dressed To The Nines
            </div>
        <ul class="social">
        <li class="social__item">
            <a class="social__link" href="" target="_blank">
                <img src="assets/images/instagram.svg" alt="Instagram DTTN">
            </a>
        </li>
        <li class="social__item">
            <a class="social__link" href="" target="_blank">
                <img src="assets/images/vk.svg" alt="VK DTTN">
            </a>
        </li>
        <li class="social__item">
            <a class="social__link" href="" target="_blank">
                <img src="assets/images/pinterest.svg" alt="Pinterest DTTN">
            </a>
        </li>
        </ul>
        <div class="profile__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro accusantium suscipit vel qui repellat quasi officiis minus dignissimos reprehenderit omnis.</p>
        </div>
    </div>
    </div>
    
    <div class="sidebar__footer">
        <a class="btn btn--red" href="">О нас</a>
        <button class="btn btn--blue" type="button">Написать нам</button>
    </div>
</aside>