.header{
    display: flex;
    position: fixed;
    right: 0;
    z-index: $z-index-header ;
    top: 70px;
    background-color: #0d0d0d;
    box-shadow: 0 5px 22px rgba(0, 0, 0, .25);
    
    width: 100%;
}
.header__left{
    width: 60%;
}
.header__right{
    width: 40%;
   display: flex;
    justify-content: flex-end;
}
.logo{
    font-weight: 700;
    font-size: 250%;
    padding-top: 15px;
    color: $white;
    margin-left: auto;
    margin-right: auto;
}
.header__logo{
    background-color: #0d0d0d;
    width: 100%;
    position: fixed;
    justify-content: center;
    display: flex;
    height: 70px;
    z-index: 1000;
}
svg.bi.bi-file-person-fill{
    position: absolute;
    right: 150px;
    top: 28px;
}
svg.bi.bi-file-person-fill:hover{
    top: 24px ;
    transition: 0.2s;
}
svg.bi.bi-cart3{
    position: absolute;
    right: 100px;
    top: 28px;
}
svg.bi.bi-cart3:hover{
    top: 24px ;
    transition: 0.2s;
}